.btn-ds {
    background-color: #000000 !important;
}

.btn-dt {
    background-color: deepskyblue !important;
    color: black !important;
}

.btn-dexspy {
    background-color: midnightblue !important;
}

.btn-defined {
    background-color: #5af0c4 !important;
    color: black !important;
}

.btn-coinscan {
    background-color: #ffbf00 !important;
    color: black !important;
}

.btn-aegis {
    background-color: #0bc677 !important;
    color: black !important;
}

.btn-uniswap {
    background-color: #e80371 !important;
}

.btn-maestro {
    background-color: #222f51 !important;
}

.btn-thunder {
    background-color: black !important;
}

.btn-sensei {
    background-color: #f20013 !important;
}

.btn-waifu {
    background-color: #020113 !important;
}

.btn-agony {
    background-color: #e791bf !important;
    color: black !important;
}
